<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programación Básica - Evaluación de Ejercicios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='materias/style.css') }}">
      <!--PAGINA CREADA POR MONITOR HARRYSON GUERRERO COD 20191005102--> 
</head>
<body>
    <header>
        <h1>Universidad Distrital Francisco Jose de Caldas</h1>
        <h2>Programa de Ingeniería Electrónica</h2>
        <h2>Programación Básica</h2>
    </header>
    <h1 href="/programacion_basica/syllabus">Syllabus de curso</h1>
    <aside class="menu-vertical">
        <ul id="menu-list">
            <!-- El menú se llenará dinámicamente con JavaScript -->
            
        </ul>
    </aside>
    <main>

            <div class="content-wrapper" id="exerciseDisplay">
                <!-- Los iframes y formularios se llenarán dinámicamente con JavaScript -->
            </div>
            <!-- Agrega más conjuntos de ejercicios y formularios según sea necesario -->s
        </div>
    </main>
    <script src="static/materias/scripts.js"></script>
</body>
</html>
